.plans{
    padding: 70px 0;
    min-height: 84.5vh;
    background-color: #1b202bf2;
    color: #fff;
}
.plans h2{
    font-weight: 800;
    letter-spacing: 2px;

}
.cards-plan{
    background-color: #373d49 ;
    padding: 60px  60px 30px 60px;
    border-radius: 4px ;
}
.cards-plan h1 {
    font-weight: 900;
}
.cards-plan h1 small{
    font-size: 16px;
}
.cards-plan ul{
    line-height: 2.5;
}
.cards-plan ul li{
    color: #eceff1;
}
.plans  div div  div:nth-of-type(2) .cards-plan{
    background-color: #e91e63;
}